<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2><strong>Search</strong> Page</h2>
          </div>
          <div class="body">
            <form class="m-4" style="font-size: 10px;" [formGroup]="questionForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Page</mat-label>
                    <input matInput formControlName="page" type="number"/>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Page Size</mat-label>
                    <input matInput formControlName="pageSize" type="number"/>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>From Date</mat-label>
                    <input formControlName="fromDate" matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>To Date</mat-label>
                    <input formControlName="toDate" matInput [matDatepicker]="picker2">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Order</mat-label>
                    <mat-select formControlName="order">
                      <mat-option value="desc">Desc</mat-option>
                      <mat-option value="asc">Asc</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Min</mat-label>
                    <input formControlName="min" matInput [matDatepicker]="picker4">
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Max</mat-label>
                    <input formControlName="max" matInput [matDatepicker]="picker3">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Sort</mat-label>
                    <mat-select formControlName="sort">
                      <mat-option value="activity">Activity</mat-option>
                      <mat-option value="votes">Votes</mat-option>
                      <mat-option value="creation">Creation</mat-option>
                      <mat-option value="relevance">Relevance</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Search Text(q)</mat-label>
                    <input matInput formControlName="q"/>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Accepted</mat-label>
                    <mat-select formControlName="accepted">
                      <mat-option value="True">True</mat-option>
                      <mat-option value="False">False</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Answers</mat-label>
                    <input matInput formControlName="answers" type="number"/>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Body</mat-label>
                    <input matInput formControlName="body"/>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Closed</mat-label>
                    <mat-select formControlName="closed">
                      <mat-option value="True">True</mat-option>
                      <mat-option value="False">False</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Migrated</mat-label>
                    <mat-select formControlName="migrated">
                      <mat-option value="True">True</mat-option>
                      <mat-option value="False">False</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Notice</mat-label>
                    <mat-select formControlName="notice">
                      <mat-option value="True">True</mat-option>
                      <mat-option value="False">False</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Not Tagged</mat-label>
                    <input matInput formControlName="nottagged"/>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Tagged</mat-label>
                    <input matInput formControlName="tagged"/>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title"/>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>User</mat-label>
                    <input matInput formControlName="user" type="number"/>
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Url</mat-label>
                    <input matInput formControlName="url"/>
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Views</mat-label>
                    <input matInput formControlName="views"/>
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Wiki</mat-label>
                    <mat-select formControlName="wiki">
                      <mat-option value="True">True</mat-option>
                      <mat-option value="False">False</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <button
                    class="mr-3 btn btn-block"
                    mat-raised-button
                    color="primary"
                  >
                  Search
                  </button>
                </div>
              </div>
            </form>
              <div *ngIf="searchedQuestions?.length>0" class="table-responsive">
                <div class="materialTableHeader" style="min-width: auto;">
                  <div class="row">
                    <div class="col-6">
                      <ul class="header-buttons-left ml-0">
                        <li class="dropdown">
                          <h2>
                            <strong>Searched Questions</strong>
                          </h2>
                        </li>
                        <li class="dropdown m-l-20">
                          <label for="search-input"
                            ><i class="material-icons search-icon"
                              >search</i
                            ></label
                          >
                          <input
                            placeholder="{{'Filter'}}"
                            type="text"
                            (keyup)="applyFilter($event)"
                            class="browser-default search-field"
                            aria-label="Search box"
                          />
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <mat-table
                  #table
                  [dataSource]="dataSource"
                  matSort
                  class="mat-cell"
                >
                  <!-- ID Column -->
                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      >ID</mat-header-cell
                    >
                    <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="question_id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      >Question Id</mat-header-cell
                    >
                    <mat-cell *matCellDef="let row">{{ row.question_id }}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      >Title</mat-header-cell
                    >
                    <mat-cell *matCellDef="let row">
                      {{ row.title }}</mat-cell
                    >
                  </ng-container>
                  <!-- actions -->
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef class="pr-0"
                      >Actions</mat-header-cell
                    >
                    <mat-cell *matCellDef="let row; let i = index" class="pr-0">
                      <button
                      mat-icon-button
                      color="accent"
                      class="btn-tbl-description"
                      (click)="$event.stopPropagation()"
                      (click)="openDetail(row)"
                    >
                      <mat-icon aria-label="Delete" style="color: white;"
                        >description</mat-icon
                      >
                    </button>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row
                    *matHeaderRowDef="displayedColumns"
                  ></mat-header-row>
                  <mat-row
                  *matRowDef="let row; columns: displayedColumns"
                >
                </mat-row>
                </mat-table>
                <div
                class="no-results"
                [style.display]="
                  dataSource.data.length == 0 ? '' : 'none'
                "
              >
              <p class="alert alert-danger">{{'NoRecordsFound'}}</p>
              </div>
                <mat-paginator
                #paginator
                [pageIndex]="0"
                [pageSize]="4"
              >
              </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</section>
